root:
    nodes:
        - contentSelectors:
            - source: https://github.com/gardener/gardener-extension-provider-aws/blob/v1.13.0/docs/usage-as-end-user.md
          name: aws_provider.md
        - nodes:
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/deployment
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/deploy_gardenlet.md
                  name: deploy_gardenlet.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/feature_gates.md
                  name: feature_gates.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/setup_gardener.md
                  name: setup_gardener.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/aks.md
                  name: aks.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/migration_v0_to_v1.md
                  name: migration_v0_to_v1.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/deployment/image_vector.md
                  name: image_vector.md
              name: deployment
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/testing
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/testing/integration_tests.md
                  name: integration_tests.md
              name: testing
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/proposals
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/12-oidc-webhook-authenticator.md
                  name: 12-oidc-webhook-authenticator.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/00-template.md
                  name: 00-template.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/09-test-framework.md
                  name: 09-test-framework.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/proposals/assets
                  name: assets
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/10-shoot-additional-container-runtimes.md
                  name: 10-shoot-additional-container-runtimes.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/05-versioning-policy.md
                  name: 05-versioning-policy.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/01-extensibility.md
                  name: 01-extensibility.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/07-shoot-control-plane-migration.md
                  name: 07-shoot-control-plane-migration.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/08-shoot-apiserver-via-sni.md
                  name: 08-shoot-apiserver-via-sni.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/04-new-core-gardener-cloud-apis.md
                  name: 04-new-core-gardener-cloud-apis.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/03-networking-extensibility.md
                  name: 03-networking-extensibility.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/README.md
                  name: README.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/11-apiserver-network-proxy.md
                  name: 11-apiserver-network-proxy.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/02-backupinfra.md
                  name: 02-backupinfra.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/proposals/06-etcd-druid.md
                  name: 06-etcd-druid.md
              name: proposals
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/concepts
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/apiserver_admission_plugins.md
                  name: apiserver_admission_plugins.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/seed-admission-controller.md
                  name: seed-admission-controller.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/controller-manager.md
                  name: controller-manager.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/scheduler.md
                  name: scheduler.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/network_policies.md
                  name: network_policies.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/backup-restore.md
                  name: backup-restore.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/apiserver.md
                  name: apiserver.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/concepts/gardenlet.md
                  name: gardenlet.md
              name: concepts
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/monitoring
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/monitoring/alerting.md
                  name: alerting.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/monitoring/operator_alerts.md
                  name: operator_alerts.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/monitoring/user_alerts.md
                  name: user_alerts.md
              name: monitoring
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/extensions
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/infrastructure.md
                  name: infrastructure.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/reconcile-trigger.md
                  name: reconcile-trigger.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/managedresources.md
                  name: managedresources.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/controlplane.md
                  name: controlplane.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/extension.md
                  name: extension.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/worker.md
                  name: worker.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/operatingsystemconfig.md
                  name: operatingsystemconfig.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/controllerregistration.md
                  name: controllerregistration.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/referenced-resources.md
                  name: referenced-resources.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/dns.md
                  name: dns.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/conventions.md
                  name: conventions.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/controlplane-webhooks.md
                  name: controlplane-webhooks.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/overview.md
                  name: overview.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/containerruntime.md
                  name: containerruntime.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/controlplane-exposure.md
                  name: controlplane-exposure.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/shoot-maintenance.md
                  name: shoot-maintenance.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/healthcheck-library.md
                  name: healthcheck-library.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/network.md
                  name: network.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/logging-and-monitoring.md
                  name: logging-and-monitoring.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/shoot-health-status-conditions.md
                  name: shoot-health-status-conditions.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/cluster.md
                  name: cluster.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/backupbucket.md
                  name: backupbucket.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/project-roles.md
                  name: project-roles.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/shoot-webhooks.md
                  name: shoot-webhooks.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/extensions/backupentry.md
                  name: backupentry.md
              name: extensions
            - contentSelectors:
                - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/README.md
              name: README.md
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/usage
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_autoscaling.md
                  name: shoot_autoscaling.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/control_plane_migration.md
                  name: control_plane_migration.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_status.md
                  name: shoot_status.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_auditpolicy.md
                  name: shoot_auditpolicy.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_versions.md
                  name: shoot_versions.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/supported_k8s_versions.md
                  name: supported_k8s_versions.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/usage/images
                  name: images
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/node-local-dns.md
                  name: node-local-dns.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/custom-dns.md
                  name: custom-dns.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/trusted-tls-for-control-planes.md
                  name: trusted-tls-for-control-planes.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/trouble_shooting_guide.md
                  name: trouble_shooting_guide.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/projects.md
                  name: projects.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/reverse-tunnel.md
                  name: reverse-tunnel.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shooted_seed.md
                  name: shooted_seed.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/logging.md
                  name: logging.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/seed_bootstrapping.md
                  name: seed_bootstrapping.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_maintenance.md
                  name: shoot_maintenance.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_network_policies.md
                  name: shoot_network_policies.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/tolerations.md
                  name: tolerations.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/configuration.md
                  name: configuration.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/seed_settings.md
                  name: seed_settings.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_operations.md
                  name: shoot_operations.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/openidconnect-presets.md
                  name: openidconnect-presets.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/shoot_purposes.md
                  name: shoot_purposes.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/usage/istio.md
                  name: istio.md
              name: usage
            - contentSelectors:
                - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/development
              nodes:
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/monitoring-stack.md
                  name: monitoring-stack.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/new-cloud-provider.md
                  name: new-cloud-provider.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/log_parsers.md
                  name: log_parsers.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/tree/v1.10.0/docs/development/content
                  name: content
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/changing-the-api.md
                  name: changing-the-api.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/seed_network_policies.md
                  name: seed_network_policies.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/process.md
                  name: process.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/testing_and_dependencies.md
                  name: testing_and_dependencies.md
                - contentSelectors:
                    - source: https://github.com/gardener/gardener/blob/v1.10.0/docs/development/local_setup.md
                  name: local_setup.md
              name: development
          nodesSelector:
            path: https://github.com/gardener/gardener/tree/v1.10.0/docs
          name: gardener
    name: doc
localityDomain:
    github.com/gardener/gardener: /gardener/gardener/v1.10.0/docs
    github.com/gardener/gardener-extension-provider-aws: /gardener/gardener-extension-provider-aws/v1.13.0/docs/usage-as-end-user.md

