/args
/bin
/.kube-secrets
/tmp/*
/dev

target/

*.coverprofile
.vscode
.vscode.code-workspace
.idea
.DS_Store
*.~vsdx

TODO
.vagrant
config.ign.merged
config.img
config.vmdk

example/hugo/content
example/hugo/public
integration-test/generated-metadata/*
integration-test/generated-tree/*
