  <nav>
  {{ $currentNode := . }}
    <ul class="topics">
    {{ range $index, $page :=  sort .Site.Sections ".Dir"}}
        {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode  }}
    {{end}}
    </ul>
  </nav>
  <!-- templates -->
  {{ define "section-tree-nav" }}
  {{ $currentNode := .currentnode }}
  {{with .sect}}
    {{if gt (len .Pages) 0}}
      <li data-nav-id="{{.URL}}" title="{{or .LinkTitle .Title}}" class="dd-item
          {{if .IsAncestor $currentNode }}parent{{end}}
          {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
          {{if .Params.alwaysopen}}parent{{end}}
          ">
          <a href="{{.RelPermalink}}">
              {{ if .Params.icon}}
              <img class="navigation-icon" src="{{.Site.BaseURL}}images/{{.Params.icon}}"/>
              {{end}}
              {{or .LinkTitle .Title}}
          </a>
          {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
          {{ if ne $numberOfPages 0 }}
          <ul>
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections}}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{end}}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

            {{ range  sort $pages ".Dir"}}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{ end }}

          </ul>
        {{ end }}
      </li>
    {{else}}
      <li data-nav-id="{{.URL}}" title="{{or .LinkTitle .Title}}" class="dd-item {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
            {{or .LinkTitle .Title .File.LogicalName}}
        </a>
    </li>
    {{end}}
  {{ end }}
  {{ end }}